version: 2.1

jobs:
  build_push_docker_image:
    docker:
      - image: cimg/openjdk:17.0.10
    steps:
      - checkout # Pulls the latest code from GitHub
      - run:
          name: Set up Maven and build
          command: |
            # Download dependencies and build the Spring Boot application
            mvn clean install
  
      - setup_remote_docker:
          version: docker23 # Specify the Docker version you want to use
          docker_layer_caching: true # Optional: speeds up Docker builds      
      
      - run:
          name: Build Docker image
          command: |
            # Build a Docker image from the Dockerfile in your repository
            docker build -t ahmedali432/springboot .
      - run:
          name: List Docker images
          command: docker images
      - run:
          name: Tag Docker image
          command: |
            docker tag ahmedali432/springboot ahmedali432/springboot:latest          
      - run:
          name: Docker login
          command: |
            echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
      - run:
          name: Push Docker image
          command: |            
            # Push the Docker image with both SHA and "latest" tags to Docker Hub
            docker push ahmedali432/springboot:latest

  deploy_to_kubernetes:
    docker:
      - image: circleci/python:3.8
    resource_class: xlarge  
    steps:
      - setup_remote_docker
      - run:
          name: Install Minikube
          command: |
            curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
            chmod +x minikube
            sudo mv minikube /usr/local/bin/
            minikube start --driver=docker
            minikube kubectl -- get po -A
      - run:
          name: Setup Kubeconfig
          command: |
            mkdir -p ~/.kube
            minikube kubectl config view --raw > ~/.kube/config
            export KUBECONFIG=~/.kube/config
      - run:
          command: |
            # Apply Kubernetes deployment and service YAML
            kubectl apply -f deployment.yaml
            kubectl apply -f service.yaml            
      - run:
          name: Verify Deployment
          command: |
            kubectl get pods
            kubectl get services                         

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_push_docker_image:
          filters:
            branches:
              only: main
      - deploy_to_kubernetes:
          requires:
            - build_push_docker_image
          filters:
            branches:
              only: main            
